:root {
  --footer-height: 54px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background: white;
}

.p-footer {
  padding-bottom: var(--footer-height);
}

.ofy-auto {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.h-50px {
  height: 50px;
}

.h-70px {
  height: 70px;
}

.flex-1 {
  flex: 1;
}

.footer-button {
  height: var(--footer-height);
}

button[disabled] {
  pointer-events: none;
}
