:root {
  --footer-height: 54px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background: white;
}

.p-footer {
  padding-bottom: var(--footer-height);
}

.ofy-auto {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.h-50px {
  height: 50px;
}

.h-70px {
  height: 70px;
}

.flex-1 {
  flex: 1;
}

.footer-button {
  height: var(--footer-height);
}

button[disabled] {
  pointer-events: none;
  color: #aaa;
}

input[type='text'] {
  color: black;
  border: 2px solid rgba(81, 142, 204, 0.4);
  outline: 0;
  border-radius: 7px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input[type='text']:focus {
  border-color: rgba(81, 142, 204, 0.8);
}
