html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background: white;
}

.ofy-auto {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.h-94px {
  height: 94px;
}

.h-380px {
  height: 380px;
}

button[disabled] {
  pointer-events: none;
}
